.overview_container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.overview_container > div {
    max-width: fit-content;
    padding: 1.5rem 2rem;
    padding-right: 10rem;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.overview_span {
    font-size: .9rem;
}

.link {
    cursor: pointer;
    text-decoration: underline;
    color:rgba(20, 159, 233, 0.77)!important;
}